Body {
  background: -webkit-linear-gradient(to bottom, #6667ab, #6c337d);
  background: linear-gradient(to bottom, #6667ab, #6c337d);
  padding: 3%;
  justify-content: center;
  font-family: "EliceDigitalBaeum_Regular";
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: "EliceDigitalBaeum_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#loginBtn {
  display: flex;
  color: white;
  border: white 3px solid;
  border-radius: 15px;
  height: 40px;
  width: 50vw;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

#button-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorBtn {
  color: #6667ab;
  border: #6667ab 3px solid;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

#loginBtn:hover {
  background-color: #d8d4d44b;
}

#logo > img {
  width: 80vw;
  margin: 10px 10px;
  object-fit: scale-down;
  max-width: 660px;
  max-height: 300px;
}

#logo {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
