Body {
  background: -webkit-linear-gradient(to top, #6667ab, #e31414);
  background: linear-gradient(to top, #6667ab, #dd2810);
  padding: 3%;
  justify-content: center;
  font-family: "EliceDigitalBaeum_Regular";
  height: 100vh;
  margin: 0;
}

#container {
  height: 95%;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  background: #ffffffec;
  border-radius: 1em;
  justify-content: center;
  background-size: 30px 100px;
  min-height: 80vh;
}

.centerTextContainer {
  height: 10%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.centerTextSmall {
  text-align: center;
  font-size: 1.4rem;
  color: rgba(240, 248, 255, 0.526);
}
.centerText {
  text-align: center;
  font-size: 1.5rem;
  color: aliceblue;
}

.centerTextLarge {
  text-align: center;
  font-size: 1.5rem;
  color: aliceblue;
}


@font-face {
  font-family: "EliceDigitalBaeum_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#loginBtn {
  color: white;
  border: white 3px solid;
  border-radius: 15px;
}

#colorBtn {
  color: #6667ab;
  border: #6667ab 3px solid;
  border-radius: 15px;
}

#loginBtn:hover {
  background-color: #d8d4d44b;
}

#root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  margin: 0;
}

#logo > img {
  height: 17vh;
  object-fit: scale-down;
}

a:link {
  color : rgb(245, 237, 238);
}
a:visited {
  color : rgb(51, 4, 95);
}
a:hover {
  color : rgb(162, 12, 221);
}
